<li class="event" itemscope="itemscope" itemtype="http://schema.org/Event">
  <a class="event__link" href="{{ entry.url }}" itemprop="url">
    {% for asset in entry.adSquare %}
      <img class="event__image" height="60" width="60" src="{{ asset.getUrl() }}" />
    {% endfor%}
    <div class="event__details">
      <meta itemprop="description" content="Come have fun">
      <div itemprop="isAccessibleForFree" content="true">
        <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/AggregateOffer">
          <meta itemprop="price" content="{{ entry.cost }}">
          <meta itemprop="priceCurrency" content="USD">
          <meta itemprop="availability" content="http://schema.org/InStock">
        </div>
        <meta itemprop="eventStatus" content="http://schema.org/{{ entry.eventStatus }}">
      </div>
      {% for block in entry.dateAndTime %}
        <div class="event__date">
          <h3 class="event__start-date" itemprop="startDate" content="{{ block.startDateAndTime|date(" c") }}"="c") }}"">{{ block.startDateAndTime|date("d l") }}</h3>
          <meta itemprop="endDate" content="{{ block.endDateAndTime|date(" c") }}"="c") }}"">
          <p class="event__start-time">{{ block.startDateAndTime|date("g:i A") }}</p>
        </div>
      {% endfor %}

      <p itemprop="name">{{ entry }}</p>
      {% set addressName = "" %}
      {% set addressStreet = "" %}
      {% set addressCity = "" %}
      {% set addressRegion = "" %}
      {% set addressPostalCode = "" %}
      {% set addressMapLink = "" %}

      {% if entry.address is defined and entry.address != "" %}
        {% set addressName = entry.address.name | trim %}
        {% set addressStreet = entry.address.street | trim ~ " " ~ entry.address.street2 | trim %}
        {% set addressCity = entry.address.city | trim %}
        {% set addressRegion = entry.address.region | trim %}
        {% set addressPostalCode = entry.address.postalCode | trim %}
        {% set addressMapLink = entry.address.mapUrl('google', {zoom: 5}) %}
      {% endif %}

      {% for block in entry.location %}
        {% if block.address is defined and block.address != "" %}
          {% set addressName = block.address.name | trim %}
          {% set addressStreet = block.address.street | trim ~ " " ~ block.address.street2 | trim %}
          {% set addressCity = block.address.city | trim %}
          {% set addressRegion = block.address.region | trim %}
          {% set addressPostalCode = block.address.postalCode | trim %}
          {% set addressMapLink = block.address.mapUrl('google', {zoom: 5}) %}
        {% endif %}
      {% endfor %}

      <span class="small" itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place">
        {% if addressName %}<meta itemprop="name" content="{{ addressName }}">{% endif %}
        <span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
          {% if addressName %}<meta itemprop="name" content="{{ addressName }}">{% endif %}
          {% if addressStreet %}
            <span itemprop="streetAddress">{{ addressStreet|trim }}</span>,&nbsp;
          {% endif %}
          {% if addressCity %}<span itemprop="streetAddress"><span itemprop="addressLocality">{{ addressCity }}</span>,&nbsp;{% endif %}
          {% if addressRegion %}<span itemprop="streetAddress"><span itemprop="addressRegion">{{ addressRegion }}</span>&nbsp;{% endif %}
          {% if addressRegion %}<span itemprop="postalCode">{{ addressPostalCode }}</span>{% endif %}
        </span>
      </span>
    </div>
  </a>

  <div class="action-bar">
    <a class="action-link" href="{{ entry.url }}" itemprop="url">More Info</a>
    {% if addressMapLink %}
      <a class="action-link" href="{{ addressMapLink }}" data-map-link="directions">Directions</a>
    {% endif %}
    {# <a class="action-link" href>Share</a> #}
  </div>
</li>
