{#
 # Events index template
 # ---------------------
 #
 # This template is loaded whenever http://example.com/events is requested,
 # because it is located at events/index.html in the public/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set addressName = "" %}
  {% set addressStreet = "" %}
  {% set addressCity = "" %}
  {% set addressRegion = "" %}
  {% set addressPostalCode = "" %}
  {% set addressCountry = "" %}

  {% if entry.address is defined and entry.address != "" %}
    {% set addressName = entry.address.name|trim %}
    {% set addressStreet = entry.address.street|trim ~ " " ~ entry.address.street2|trim %}
    {% set addressCity = entry.address.city|trim %}
    {% set addressRegion = entry.address.region|trim %}
    {% set addressPostalCode = entry.address.postalCode|trim %}
    {% set addressCountry = entry.address.country|trim %}
  {% endif %}

  {% for block in entry.location %}
    {% if block.address is defined and block.address != "" %}
      {% set addressName = block.address.name|trim %}
      {% set addressStreet = block.address.street|trim ~ " " ~ block.address.street2|trim %}
      {% set addressCity = block.address.city|trim %}
      {% set addressRegion = block.address.region|trim %}
      {% set addressPostalCode = block.address.postalCode|trim %}
      {% set addressCountry = block.address.country|trim %}
    {% endif %}
  {% endfor %}

  {% set cost %}
    {% if entry.cost == "0.00" %}
      FREE!
    {% else %}
      ${{ entry.cost }}
    {% endif %}
  {% endset %}

  {% set timeOfDay %}
    {% if entry.dateAndTime[0].startDateAndTime|date("G") < 18 %}
      day
    {% else %}
      night
    {% endif %}
  {% endset %}

  {% set myJSONLD = {
    type: "Event",
    name: entry,
    url: entry.url,
    startDate: entry.dateAndTime[0].startDateAndTime|date("c"),
    endDate: entry.dateAndTime[0].endDateAndTime|date("c"),
    location: {
      type: "Place",
      name: addressName,
      address: {
        type: "PostalAddress",
        streetAddress: addressStreet,
        addressLocality: addressCity,
        addressRegion: addressRegion,
        postalCode: addressPostalCode,
        addressCountry: addressCountry,
      },
    },
    offers: {
      type: "Offer",
      price: entry.cost,
      priceCurrency: "USD",
      availability: "http://schema.org/InStock",
      validFrom: entry.postDate|date("c"),
    }
  } %}
  {{ myJSONLD | renderJSONLD }}

  <style>
    .dynamic-body-copy {
      margin-top: 1rem;
    }

    .events__details {
      margin-top: 1rem;
    }

    .events__details p {
      margin: 0;
    }

    .events__details img {
      width: 100%;
    }

    .events__detail-note {
      margin-top: 1rem;
    }

  .events-hud {
    margin-top: 1rem;
  }
  </style>
  <div class="content" data-eq--content>
    <main class="events content__primary [ card card--blue card--light ]">
      <article class="card__container">
        <div class="card__header">
          <h1>{{ entry }}</h1>
        </div>

        {% for block in eventDescriptions.eventDescriptions %}
          {% if block.eventType == entry.type %}
            <div class="small">
              {{ block.eventDescription }}
            </div>
          {% endif %}
        {% endfor %}

        <div class="events-hud">
          <a class="events-hud__anchor" href="#event-location">
            <i class="hud-icon hud-icon--map-marker" aria-label="location"></i>
            {{ addressName }}
          </a>
          <div>
            {% for block in entry.dateAndTime %}
              <span class="hud-date">
                <i class="hud-icon hud-icon--time-of-day hud-icon--{{ timeOfDay|trim }}" aria-label="date"></i>
                <span>{{ block.startDateAndTime|date("D. M. j") }}</span>
              </span>
            {% endfor %}
            <span class="hud-price">
              <i class="hud-icon hud-icon--map-price" aria-label="cost"></i>
              <span>{{ cost }}</span>
            </span>
          </div>
        </div>

        <div class="dynamic-body-copy">
          {{ entry.body }}
        </div>

        {% if entry.movies is defined %}
          <style>
            .movie {
              margin-top: 1rem;
            }

            .movie__link {
              color: inherit;
              display: block;
              text-decoration: none;
            }

            .movie__header {
              align-items: baseline;
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
          </style>
          {% for block in entry.movies %}
            <div class="movie">
              {% set movieContent %}
                <div class="movie__header">
                  <h2 class="movie__title">{{ block.movieTitle }}</h2>
                  <!--p class="movie__show-time">{{ block.movieStartTime|date("g:i A") }}</p-->
                </div>
                <p>{{ block.synopsis }}</p>
              {% endset %}

              {% if block.movieLink != "" %}
                <a class="movie__link" href="{{ block.movieLink }}" target="_blank" rel="nofollow">
                  {{ movieContent }}
                </a>
              {% else %}
                {{ movieContent}}
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}

        <div class="events__details">
          <h3>Cost?</h3>
          <p class="small">{{ cost }}</p>
        </div>

        <div class="events__details">
          <h3>When?</h3>
          {% for block in entry.dateAndTime %}
            <p class="small">{{ block.startDateAndTime|date("l, F d, Y") }}</p>
            <p class="small">{{ block.startDateAndTime|date("g:i A") }}&mdash;{{ block.endDateAndTime|date("g:i A") }}</p>
          {% endfor %}
        </div>

        <div class="events__details">
          <style>
            .location__notes > p {
              font-size: .75rem;
            }
          </style>
          <h3 id="event-location">Where?</h3>
          {{ addressName }}<br />
          {{ addressStreet|trim }}<br />
          {{ addressCity }} {{ addressRegion }} {{ addressPostalCode }}

          <div>
            {% set locationNotes = [] %}

            {% for block in entry.locationNotes %}
              {% set locationNotes = locationNotes|merge([block])%}
            {% endfor %}

            {% for block in entry.location %}
              {% for block in block.locationNotes %}
                {% set locationNotes = locationNotes|merge([block])%}
              {% endfor %}
            {% endfor %}

            {% for block in locationNotes %}
              <div class="events__detail-note">
                <h4>{{ block.noteTitle }}</h4>
                <div class="small">
                  {{ block.noteText }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </article>
    </main>
  </div>
{% endblock %}
